<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>UPS Social Media Trends</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--bower:css-->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/c3.min.css" type="text/css" />
        <!--endbower-->
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        <!-- inject:css-->
        <link rel="stylesheet" href="/css/styles.css">
                <link rel="stylesheet" href="/css/UXStyles.css">
        <!-- endinject-->
        <!--inject:js-->
        <script src="/js/app.js"></script>
        <!--endinject-->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

  <header class="navbar navbar-fixed-top navbar-default ups-uxams-layout-header">
        <div class="container-fluid">
            <div class="row">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i id="hamburger" class="fa fa-bars" aria-hidden="true" style="color:#FFF;font-size:18px;"></i>
                    <i id="hamburgerClose" class="fa fa-close" aria-hidden="true" style="color:#FFF;font-size:18px;display:none;"></i>
                </button>
                <div class="col col-md-4 application-title">
                    <div class="zone zone-header">
                        <a id="brandLink" class="navbar-brand" href="/">
                            <img alt="Ups-Logo" class="img-responsive ups_logo" src="/img/UPS_Logo.png">
                        </a>
                    </div> &nbsp;
                    <span id="bigBranding">UPS Social Media Trends</span>
                    <span id="smallBranding">USMT</span>
                </div>
                <div id="navbar" class="collapse navbar-collapse col-xs-12 col-sm-12 col-md-8 ups-topnav-topSection pull-right">
                    <ul class="nav navbar-nav">
                        <li id="searchMobile">
                            <div class="ups-user-search" style="padding-left:0;">
                                <div class="form-group ups-topnav-search">
                                    <div id="searchFormGroup" class="form-group">
                                        <div class="input-group">
                                            <div class="awesomplete">
                                                <input class="form-control" id="txtTopSearch" name="txtTopSearch" placeholder="Search All" type="text" value="" autocomplete="off" aria-autocomplete="list">
                                                <ul hidden=""></ul><span class="visually-hidden" role="status" aria-live="assertive" aria-relevant="additions"></span>
                                            </div><span id="spnTopSearch" class="input-group-addon"> <i class="fa fa-search fa-lg" style="display: inline-block;"></i> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li id="searchDesktop">

                            <div class="ups-user-search" style="padding-left:0;">
                                <div id="searchFormGroup" class="form-group ups-topnav-search">
                                    <div id="searchFormGroup" class="form-group">
                                        <div class="input-group">
                                            <div class="awesomplete">
                                                <input class="form-control" id="txtTopSearchLarge" name="txtTopSearch" placeholder="Search All" type="text" value="" autocomplete="off" aria-autocomplete="list">
                                                <ul hidden=""></ul><span class="visually-hidden" role="status" aria-live="assertive" aria-relevant="additions"></span>
                                            </div><span id="spnTopSearchLarge" class="input-group-addon"> <i class="fa fa-search fa-lg" style="display: inline-block;"></i> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
            Edit Profile
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
              
              <h3>Welcome back, <%= user.firstName %>!</h3><br/>
              <a href="#">Edit Profile</a><br/>
              <a href="/logout">Logout</a>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
</div>


  


<div class="container">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-4"> 
                <form name="editProfileForm"
                      action="/auth/sendProfileUpdates" 
                      method="post">
                  <input name="_id" id="_id" class="form-control" value="<%= user._id %>">
                  <label>First Name:</label> <input name="firstName" id="firstName" class="form-control" value="<%= user.firstName %>"> <br/>
                  Last Name: <input name="lastName" id="lastName" class="form-control" value="<%= user.lastName %>"> <br /><hr/>
                  Username: <input name="userName" id="userName" class="form-control" value="<%= user.userName %>"> <br/>
                  Password: <input name="password" type="password" id="pass" class="form-control" value="<%= user.password %>"> <br />
                    <input class="btn btn-primary" type="submit" value="Update!" />
                </form>
                </div><!--/col-12-->
            </div>
        </div>
    </div>
</div>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
    <script src="/js/d3.v3.min.js"></script>
    <script src="/js/c3.min.js"></script>
        <script>
        var chart = c3.generate({
            data: {
                columns: [
                    ['data1', 300, 350, 300, 0, 0, 0],
                    ['data2', 130, 100, 140, 200, 150, 50]
                ]
            }
        });
    </script>
	</body>
</html>